# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.vscode/

# Node
Frontend/node_modules/
node_modules/

# Logs
*.log

# Git
.git/
.gitignore

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose.yml
.dockerignore